---
export const prerender = false;

import SEO from '../../components/seo.astro';
import { createAstroServerClient } from '@/lib/supabase/createAstroServerClient';
import RootLayout from '../../layouts/root-layout.astro';
import AuthForm from '@/components/forms/auth-form';
import { getUser } from '../../lib/utils';

const supabase = createAstroServerClient(Astro);

const user = await getUser(supabase);
if (user) {
  return Astro.redirect('/admin');
}
---

<RootLayout>
  <SEO
    slot="seo"
    title="Админка"
    description=""
    imageUrls={{ fb: '' }}
  />
  <main>
    <AuthForm type="login" className="mx-auto mt-5" client:load />
  </main>
</RootLayout>
