---
import RootLayout from '@/layouts/root-layout.astro';
import SectHero from '@/components/sections/sect-hero.astro';
import SectPortfolioCards from '@/components/sections/sect-portfolio-cards.astro';
import { getMainInfo } from '@/lib/drizzle/queries/main-info';
import SectAboutMe from '@/components/sections/sect-about-me.astro';
import SectRibbon from '../components/sections/sect-ribbon.astro';
import SectContacts from '../components/sections/sect-contacts.astro';
import SeoFragment from '../components/seo-fragment.astro';

const mainInfoData = await getMainInfo();
---

<RootLayout>
  <SeoFragment
    slot="seo"
    title="JavaScript разработчик"
    imageUrls={{ fb: mainInfoData.openGraphImage }}
  />
  <main>
    <SectHero />
    <SectPortfolioCards />
    <SectAboutMe />
    <SectRibbon />
    <SectContacts />
  </main>
</RootLayout>
