---
import RootLayout from '$layouts/RootLayout.astro';
import SEO from '$components/SEO.astro';
import Header from '$components/Header/index.astro';
import SectHero from '../sections/SectHero.astro';
import SectPortfolioCards from '../sections/SectPortfolioCards.astro';
---

<RootLayout>
  <SEO
    slot="seo"
    title="JavaScript разработчик"
    description="!!!"
    imageUrls={{ fb: '' }}
  />
  <main>
    <SectHero />
    <SectPortfolioCards />
  </main>
</RootLayout>
