---
export const prerender = false;

import Button from '@/components/ui/firm-button';
import SEO from '../../../components/seo.astro';
import AdminLayout from '@/layouts/admin-layout.astro';
import { createAstroServerClient } from '@/lib/supabase/createAstroServerClient';
import DataTable from '@/components/tables/projects/data-table';
import { getUser } from '@/lib/utils';
import { getProjects } from '@/lib/drizzle/queries/projects';

const supabase = createAstroServerClient(Astro);

const user = await getUser(supabase);
if (!user) {
  console.log('User is not logged in');
  return Astro.redirect('/auth/login');
}

const projects = await getProjects();
---

<AdminLayout>
  <SEO
    slot="seo"
    title="Проекты"
    description="!!!"
    imageUrls={{ fb: '' }}
  />
  <div class="flex justify-between items-center">
    <h1 class="text-4xl">Проекты</h1>
    <Button variant={'fill'} className="relative">
      <a href="/admin/projects/create" class="absolute inset-0"></a>
      Создать новый
    </Button>
  </div>
  <DataTable data={projects} className="mt-5" client:load />
</AdminLayout>
