---
export const prerender = false;

import SocialsForm from '@/components/forms/socials-form';
import AdminLayout from '@/layouts/admin-layout.astro';
import { createAstroServerClient } from '@/lib/supabase/createAstroServerClient';
import { getUser } from '@/lib/utils';
import SeoFragment from '@/components/seo-fragment.astro';

const supabase = createAstroServerClient(Astro);

const user = await getUser(supabase);

if (!user) {
  console.log('User is not logged in');
  return Astro.redirect('/auth/login');
}
---

<AdminLayout>
  <SeoFragment
    slot="seo"
    title={'Новая соц. сеть'}
    imageUrls={{ fb: '' }}
    noindex
  />
  <div class="flex justify-between items-center">
    <h1 class="text-4xl mb-5">Новая соц. сеть</h1>
  </div>
  <SocialsForm client:only="react" method={'create'} />
</AdminLayout>
