---
export const prerender = false;

import SEO from '@/components/seo.astro';
import SocialsForm from '@/components/forms/socials-form';
import AdminLayout from '@/layouts/admin-layout.astro';
import { createAstroServerClient } from '@/lib/supabase/createAstroServerClient';
import { getUser } from '@/lib/utils';

const supabase = createAstroServerClient(Astro);

const user = await getUser(supabase);

if (!user) {
  console.log('User is not logged in');
  return Astro.redirect('/auth/login');
}
---

<AdminLayout>
  <SEO slot="seo" title={'Новая соц. сеть'} imageUrls={{ fb: '' }} />
  <div class="flex justify-between items-center">
    <h1 class="text-4xl mb-5">Новая соц. сеть</h1>
  </div>
  <SocialsForm client:only="react" method={'create'} />
</AdminLayout>
