---
import Button from '../Button';
import SiteLogo from '../SiteLogo';
---

<header>
  <div class="max-w-7xl mx-auto px-8 py-4 flex justify-between items-center">
    <div class="relative">
      <a class="contents" href="/">
        <SiteLogo />
        <span class="absolute inset-0"></span>
      </a>
    </div>
    <a href="" class="contents">
      <Button>Напиши мне</Button>
    </a>
  </div>
  <hr
    class="border-none h-px opacity-15 bg-gradient-to-r from-transparent via-white to-transparent"
  />
</header>
