---
import Button from '@/components/ui/firm-button';
import { getSocialBySlug } from '@/lib/drizzle/queries/socials';
import type { VariantStyles } from './ui/firm-button/types';
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'button'> {
  variant?: VariantStyles;
  text?: string;
}

const { variant, text, class: className } = Astro.props;

const telegram = await getSocialBySlug('telegram');
const vk = await getSocialBySlug('vk');
const hh = await getSocialBySlug('hh');
---

<Button
  className={className as string | undefined}
  href={telegram?.url || vk?.url || hh?.url}
  external
  {variant}
>
  {text || 'Напиши мне'}
</Button>
