---
import Button from '@/components/ui/firm-button';
import SiteLogo from '@/components/site-logo';
import ContactButton from './contact-button.astro';
import BuildTriggerButton from './build-trigger-button';

const { pathname } = Astro.url;
---

<header class="sticky top-0 z-30 backdrop-blur">
  <div class="container flex justify-between
  items-center py-4">
    <a class="contents" href="/">
      <SiteLogo />
    </a>
    {
      pathname.includes('/admin') ? (
        <div class="flex gap-2">
          <BuildTriggerButton client:load />
          <form
            action="/api/auth/logout"
            method="post"
            class="contents"
          >
            <Button>Выйти</Button>
          </form>
        </div>
      ) : (
        <ContactButton />
      )
    }
  </div>
  <hr
    class="border-none h-px opacity-15 bg-gradient-to-r from-transparent via-white to-transparent"
  />
</header>
