---
import linesPNG from '$assets/img/Lines.png';
import { Image } from 'astro:assets';
import Textra from 'react-textra';
import Button from '../components/Button';
---

<section class="relative">
  <div
    class="max-w-4xl mx-auto pb-28 pt-16 md:py-28 relative z-1 grid grid-cols-1 gap-8 px-6"
  >
    <Image
      src={linesPNG}
      alt="Lines"
      class="mx-auto -translate-y-[1px] absolute top-0 pointer-events-none -z-1"
    />
    <div>
      <p class="text-center text-5xl md:text-7xl font-bold">
        <Textra
          data={['Креативный', 'Иновативный', 'Великолепный']}
          effect={'downTop'}
          client:only="react"
          className=" bg-clip-text text-transparent bg-gradient-to-b from-white to-yellowgrey"
        />
      </p>
      <h1
        class="text-center text-5xl md:text-7xl font-bold mt-1 animated-colors__gradient bg-clip-text text-transparent"
      >
        JavaScript разработчик
      </h1>
    </div>
    <h2 class="text-cyangrey text-lg text-center mx-auto max-w-xl">
      Здравствуйте 👋. Меня зовут Саша, и я разработчик JavaScript, проживающий
      в Беларуси и работающий удалённо с людьми со всех концов мира.
    </h2>
    <div class="text-center flex justify-center">
      <Button variant="fill">Напиши мне</Button>
    </div>
  </div>
</section>
