---
import { ViewTransitions } from 'astro:transitions';
import type { HTMLAttributes } from 'astro/types';
import Head, { type HeadProps } from '@/components/head.astro';
import Header from '@/components/header.astro';
import Footer from '@/components/footer.astro';
// import '$assets/fonts/satoshi-font.css';
import '@/styles/app.css';
import { cn } from '../lib/utils';

export interface HtmlProps
  extends Omit<HTMLAttributes<'html'>, 'title'>,
    HeadProps {
  favicon?: string;
  hasHeader?: boolean;
  hasFooter?: boolean;
}

const {
  class: className,
  hasHeader = true,
  hasFooter = true,
  favicon = '/favicon.svg',
  noindex,
  ...props
}: HtmlProps = Astro.props;
---

<script>
  import 'iconify-icon';
</script>

<html
  lang="ru"
  class="scroll-smooth dark"
  transition:animate="initial"
  {...props}
>
  <Head {favicon} {noindex}>
    <slot name="seo" />
    <meta name="referrer" content="origin" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />

    <ViewTransitions />
  </Head>
  <body
    class={cn(
      `relative
        bg-bg
        z-0
        min-h-svh
        tracking-wide
        text-white`,
      className
    )}
  >
    <div class="fixed inset-0 -z-10 pointer-events-none opacity-90 bg-noise">
    </div>
    {hasHeader && <Header />}
    <slot />
    {hasFooter && <Footer />}
  </body>
</html>
